body {
  overflow-x: hidden;
}

.thank {
  position: relative;
  width: 100%;
  height: 1080px;
  background: url("../img/thank_bg.jpg") center center no-repeat;
  background-size: cover;
}

.thank-inner {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: inherit;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 236px;
  max-height: 75px;
  z-index: 10;
}
.logo img {
  width: 100%;
  height: auto;
}

.fb-btn {
  position: absolute;
  left: 30px;
  bottom: 92px;
  background: url("../img/fb_btn.png") 0 0 no-repeat;
  width: 52px;
  height: 52px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 10;
}

.fb-btn:hover, .home-btn:hover {
  filter: drop-shadow(3px 3px 2px);
}

.home-btn {
  position: absolute;
  left: 30px;
  bottom: 32px;
  background: url("../img/home_btn.png") 0 0 no-repeat;
  width: 52px;
  height: 52px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 10;
}

.title {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 251px;
  max-height: 299px;
}
.title img {
  width: 100%;
  height: auto;
}

.resend-bg {
  position: relative;
  max-width: 1200px;
  max-height: 1080px;
  width:36.666%;
  padding-top: 15%;
  margin-left: 10%;
}
.resend-bg img {
  width: 100%;
  height: auto;
}

.resend-btn {
  position: relative;
  margin-left:  10%;
  width: 37%;
  max-width:440px;
  /*height: 51px;
  font-size: 23px;*/
  margin-top:2%;
  display: block;
  background-color: #d3003b;
  text-align:center;
  font-size: 0;
  
  
  
}
.resend-btn a {
  display: block;
  vertical-align: middle;
  /*line-height: 51px;
  color:#fff;*/
  text-decoration: none;
}

.resend-btn img {
  width: 100%;
  height: auto;
}

.search-point {
  margin-left: 10%;
  margin-top:2%;
  display: inline-block;
  width:18.3%;
}

.fb-share {
  display: inline-block;
  width:18.3%;
  cursor:pointer;
}

.thank img {
  width:100%;
}

.back-index {
  position: relative;
  max-width: 95px;
  max-height: 95px;
  padding-top: 2%;
  padding-left: 24%;
}
.back-index img {
  width: 100%;
  height: auto;
}

.m-thank-white, .m-thank-info-title, .m-thank-info-words {
  display: none;
}

.banner{
  text-align: center;
  width:100%;
  
  position: absolute;
  bottom:50px;
}

.dt {
  display:block;
  width:90%;
  max-width:1137px;
  margin:0 auto;


}
.mb {
  display:none;
  width:90%;
  margin:0 auto;
}


@media screen and (max-width: 960px) {
  html, body {
    height: 100%;
    background-color:#000;
  }

  .resend-bg, .title {
    display: none;
  }

  .fb-btn, .home-btn {
    left: 10px;
  }

  .thank {
    //height: 100vh;
    background: url("../img/m_thank_bg.jpg") center center no-repeat;
    background-size: cover;
    height:auto;
    padding-bottom:10%;
  }

  .logo img {
    width: 70%;
  }

  .m-thank-white {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("../img/m_thank_white.png") center center no-repeat;
    background-size: cover;
  }

  .m-thank-info-title {
    position: relative;
    display: block;

    width:100%;
    margin: 0 auto;
    padding-top: 149px;

  }
  .m-thank-info-title img {
    width: 100%;
    height: auto;
  }

  .m-thank-info-words {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 280px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
  }
  .m-thank-info-words img {
    width: 100%;
    height: auto;
  }

  .resend-btn {
    width:70%;
    padding:2% 0;
    margin:2% auto ;
  }
  
  .search-point ,.fb-share {
    width:35%;
    
  }
   .search-point {
     margin-left:15%;
   }

  .back-index {
    margin: 3% auto;
    text-align: center;
    max-width: 95px;
    max-height: 95px;
    padding-left: 0;
  }
  .banner{
    position:relative;
    bottom:0;
    margin-top:10%;
  }
  .dt {
    display:none;
  }
  .mb {
    display:block;
  }
  
}
@media screen and (max-width: 375px) {
  .m-thank-info-title {
    padding-top: 120px;
  }
}
@media screen and (max-width: 320px) {
  .m-thank-info-title {
    padding-top: 101px;
  }

  .back-index {
    max-width: 50px;
    max-height: 50px;
  }
}
